.wrapper input {
  width: calc(100% - 1px * 2 - 12px * 2);
  border: 1px solid var(--site-color);
  padding: 12px 8px;
  border-radius: 8px;
}

.wrapper label {
  display: block;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.wrapper button {
  width: calc(100% - 4px * 2 - 1px * 2);
  padding: 8px 4px;
  text-align: center;
  border-width: 1px;
  margin: 1em 0;
  border-radius: 8px;
}
